---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/stylesheet.css">
    <script src="/assets/js/simplejs.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/youtube.js"></script>
    <link rel="icon" href="/assets/images/favicon.ico">

    <title>Do Van Minh</title>
  </head>
  
  <body class="body">
    {% include navigation.html %}
    <div class="divider"></div>
    <div class="introduction block" style="display:flex">
        <div class="" style="width:30%;float:left;">
            <img src="assets/images/profile2.jpg" 
            style="width:190px;height:190px;border-radius:50%;display: table-cell; margin:auto;position: relative;
            top: 50%; transform: translateY(-50%);">
        </div>

        <div class="" style="width:70%;float:left">
            <p class="name block" align="center">Do Van Minh </p>

            <p class="block">
                I am currently a Research Engineer at the <a href="https://smart.mit.edu/" target="_blank">Singapore-MIT Alliance for Research and Technology (SMART)</a>, 
                a research center of the <a href="https://www.mit.edu/" target="_blank">Massachusetts Institute of Technology (MIT)</a> in Singapore. At SMART MIT, 
                I work under the supervision of <a href="https://meche.mit.edu/people/faculty/sesarma%40mit.edu/" target="_blank">Professor Sanjay Sarma</a> on the  <a href="https://m3s.mit.edu/" target="_blank">M3S project</a>, 
                where I develop AI models in computer vision and natural language processing (NLP) to enhance collaboration between AI, humans, and machines, 
                focusing particularly on education and robotics.
            </p>
            
            <p class="block">
                Prior to joining SMART MIT, I worked as a Research Associate at the <a href="https://www.ntu.edu.sg/computing" target="_blank">College of Computing and Data Science</a> at Nanyang Technological University (NTU), 
                where I focused on computer vision and deep learning for embedded computing platforms. I also earned a Master of Engineering in Computer Science from NTU, 
                where my dissertation, supervised by <a href="https://siewkeilam.github.io/ei-research-group/index.html" target="_blank">Professor Lam Siew Kei</a>, 
                addressed multi-camera tracking for smart urban mobility.
            </p>
            

            <p class="block">
                <a href="mailto:dovanminh1000@gmail.com">Email</a>
                <span>&sol;</span>
                <a href="assets/pdf/CV_Minh.pdf" target="_blank">CV</a> 
                <span>&sol;</span> 
                <a href="https://www.linkedin.com/in/minhdov/" target="_blank">Linkedin</a>
                <!-- <span>&sol;</span> 
                <a href="https://github.com/minhdov" target="_blank">Github</a> -->
            </p>
        </div>
    </div>
    <div class="divider"></div>
    <div class="research block">
        <p class="heading block"> Research</p>
        <p class="block">My research is centered on developing lightweight Computer Vision and Deep Learning algorithms tailored for 
            resource-constrained embedded platforms, with a particular focus on enhancing Intelligent Transportation 
            Systems in Smart Cities. This involves creating solutions that are not only innovative 
            but also practical for real-world applications.
        </p>
        <p class="block">
            In this realm, I have honed my skills across various technical frameworks, including OpenCV, PyTorch, TensorFlow, ONNX, NCNN and ROS. 
            My expertise covers a wide range of areas from data preparation and model optimization techniques like quantization and pruning, 
            to diverse learning methodologies such as transfer learning, knowledge distillation, and a mix of supervised, self-supervised, 
            and unsupervised techniques. My practical experience is evidenced by my success in complex tasks like change detection, 
            image classification, object detection, segmentation, and multiple object tracking, with a special emphasis on deploying 
            these advanced models on embedded devices.

            <p class="block">
            <strong>If you are interested in Computer Vision, Deep Learning, and Embedded Systems, feel free to <a href="mailto:dovanminh1000@gmail.com">contact me</a> for mentorship in these areas.</strong>
            </p>

        </p>
    </div>

    <div class="divider"></div>
    <div class="workexp block" id="workexp">
        <p class="heading block">Work Experience</p>
        {% include workexp.html %}
    </div>

    <div class="divider"></div>
    <div class="project block" id="projects">
        <p class="heading block">Projects</p>
        {% include projects.html %}
    </div>
    
    <!-- <div class="divider"></div>
    <div class="publication block" id="publications">
        <p class="heading block">Publications</p>
        {% include publications.html %}
    </div> -->

    <!-- <div class="divider"></div>
    <div class="publication block" id="list100">
        <a href="list100.html" target="_blank">
            <p class="heading block">List100</p>
        </a>
    </div> -->
    

    <div>

    <div class="block">
        <p class="block" style="float:right">Theme from <a href="https://jonbarron.info/" target="_blank">Jon Barron</a>. Developed using 
            <a href="https://jekyllrb.com/" target="_blank">Jekyll</a>.</p>
    </div>
    
  </body>
</html>