{% for project in site.data.projects %}
<div class="research-proj block">
    <div class="research-summary">
        <div style="overflow:hidden">
            <div style="max-width: 50%; float:left;">
                {% if project.webpage %}
                    <span><a href="{{project.webpage}}" class="pub-name" style="display:inline" target="_blank">{{ project.name }} </a></span>
                    {% if project.demo %}
                        <span>| <a href="{{project.demo}}" class="pub-name" style="display:inline" target="_blank">Demo</a></span>
                    {% endif %}
                {% else %}
                    <span class="pub-name" style="color:black;">{{ project.name }} </span>
                {% endif %}
            </div>
            <div style="max-width: 50%; float:right;">
                {{project.timeline}}
            </div>
        </div>

        <p class="pub-teammates" style="font-style:italic; padding:5px 0px 5px 0px;">
            Teammates:
            {% for teammate in project.teammates %}
                <a href="{{teammate.webpage}}" target="_blank">
                    {%- if teammate.me == "true" -%}
                        <strong>{{ teammate.name }}</strong>
                    {%- else -%}
                        {{ teammate.name }}
                    {%- endif -%}
                </a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
        </p>

        <p class="pub-intro" style="font-size:14px; padding:5px 0px 5px 0px;">
            {{ project.intro }}
        </p>
    </div>
</div>
{% endfor %}
